<!-- Example page to replace -->
    <div *ngIf="!games">
      <div class="sp loading">
        <div class="spinner-border m-auto" style="width: 5rem; height: 5rem;" role="status">
        </div>
      </div>
    
    </div>

<div  class="container-fluid m-2" *ngFor="let game of games">
  <!-- For each fetched game, creates html below: --> <!-- {{game.descritpion}} -->
  <!--[innerHTML]="game.originalName"--> <!--bgg-game.model.ts-->
    <div class="row">
      <div class="col-12 mt-2">
        
        <img class="img rounded mx-auto d-block " alt="{{game.name}}" src="{{game.thumbnail}}"/>
      </div>
      <div class="col-12 text-center my-2 p-0">
        <p class="m-1"><span class="game-name " [innerHTML]="game.name"></span></p> <p class="m-0 d-none d-sm-block">Rok wydania: {{game.yearPublished}}</p> <p class="mb-0 d-none d-sm-block">Kategorie: {{game.categories}} </p>
      </div>

      <div class="col-12  d-flex justify-content-center mb-2 ">
        <div class="bg-light text-center d-inline px-1 border rounded-start d-none d-sm-inline-block "> Min <i class="fa-solid fa-clock"></i><span class="px-1">:</span><span [innerHTML]="game.playingTime.min"> </span> </div>
        <div class="bg-light text-center d-inline px-1 border rounded  d-sm-none "> <i class="fa-solid fa-clock"></i><span class="px-1">:</span><span [innerHTML]="game.playingTime.min"> </span> / <span [innerHTML]="game.playingTime.max"> </span> </div>
        <div class="bg-light text-center d-inline px-1 border rounded-end d-none d-sm-inline-block me-1"> Max <i class="fa-solid fa-clock"></i><span class="px-1">:</span><span [innerHTML]="game.playingTime.max"> </span> </div>
        <div class="bg-light text-center d-inline px-1 border rounded-start d-none d-sm-inline-block ms-1 "> Min <i class="fa-solid fa-user"></i><span class="px-1">:</span><span [innerHTML]="game.players.min"> </span> </div>
        <div class="bg-light text-center d-inline px-1 border rounded  d-sm-none "> <i class="fa-solid fa-user"></i><span class="px-1">:</span><span [innerHTML]="game.players.min"> </span> / <span [innerHTML]="game.players.max"> </span> </div>
        <div class="bg-light text-center d-inline px-1 border rounded-end d-none d-sm-inline-block "> Max <i class="fa-solid fa-user"></i><span class="px-1">:</span><span [innerHTML]="game.players.max"> </span> </div>
      </div>

      <div class="col-8 offset-2 offset ">
        <div class="row">
          
          <div class="col-12 bg-light border p-2 border-secondary rounded" [innerHTML]="game.description"> </div> 
 
              
          </div>
          
        </div>
      </div>
      
    </div>
   


